html {
  overflow: hidden;
}

#pong {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#computerScore {
  position: absolute;
  left: 170px;
  bottom: 440px;
  text-align: center;
  color: red;
  font-size: 25px;
}

#playerScore {
  position: absolute;
  left: 170px;
  bottom: 390px;
  text-align: center;
  color: red;
  font-size: 25px;
}

#gameover {
  color: #E04747;
  text-align: center;
  font-size: 35px;
  position: center;
}